VITE_BACKEND_URL=http://localhost:8080/
# File .env.local
VITE_FIREBASE_API_KEY="Dán API Key vào đây"
VITE_FIREBASE_AUTH_DOMAIN="Dán Auth Domain vào đây"
VITE_FIREBASE_PROJECT_ID="Dán Project ID vào đây"
VITE_FIREBASE_STORAGE_BUCKET="Dán Storage Bucket vào đây"
VITE_FIREBASE_MESSAGING_SENDER_ID="Dán Messaging Sender ID vào đây"
VITE_FIREBASE_APP_ID="Dán App ID vào đây"
